.title-header {
    text-align: center;    
    color: aqua;
}
.header {
    
    background-color: deeppink;
}
.main {
    border: 20px solid #0b0808;
    background-color: deeppink;
}
.img {
    border: 5px solid #ffff;
}
.video {
   border-image-width: 1500;
}
.footer {
    background-color: rgb(112, 45, 45);
    text-align: center;
    color: deeppink;
}
.footer-text {
    color: aqua;
}
.two {
    text-align: center;
    color: deeppink;
    background-color: aqua;
}
.list {
    list-style: none;
   
}
.link {
    text-decoration: none;
}