.title-header {
    text-align: center;    
    color: aqua;
}
.header {
    box-sizing: content-box;
    background-color: deeppink;
    width: auto;
    margin: 0px auto;
    display: block;
}
.main {
    display: block;
    box-sizing: content-box;
    border: 20px solid #0b0808;
    background-color: deeppink;
    margin: 0px auto;
}
.img {
    border: 5px solid #ffff;
}
.video {
   border-image-width: 1500;
}
.footer {
    margin: 0px;
    background-color: rgb(112, 45, 45);
    text-align: center;
    color: deeppink;
}
.footer-text {
    color: aqua;
}
.footer-text:hover {
    color: tomato;
}
.footer-text:focus {
    color: tomato;
}
.two {
    text-align: center;
    color: deeppink;
    background-color: aqua;
}
.list {
    list-style: none;
   
}
.link {
    text-decoration: none;
}




.signature {
    text-align: right;
    color: blue;
}
.signature:hover {
    color: tomato;
}
.signature:focus {
    color: tomato;
}